/**{
  margin:0;
}*/
h1 {
  margin:0;
  padding-top:50px;
  font-family: "Pacifico",sans-serif;
  font-size:300%;
  color:#b21f66;
}
h2{
  color:#b21f66;
  font-size:1.8em;
}
h3 {
  color:#b21f66;
}
body {
  margin:0;
  text-align: center;
  font-family:'Kanit', sans-serif;
}
p {
  font-size: 1.1em;
}
.unicorn {
  width: 30%;
}
.bloc-top {
  background-color: #fdeced;
  position:relative;
}
.top-cloud{
  position: absolute;
  right:15%;
  top:10%;
}
.bottom-cloud {
  position: absolute;
  left:20%;
  bottom:300px;
}
.profil {
  width:15%;
  padding-top:20px;
}
.poza-pc {
  width:20%;
  float:left;
  margin-right: 30px;
}
.poza-consola {
  width:25%;
  float:right;
  margin-left: 30px;
}
.skill-row{
  width:50%;
  margin:100px auto;
  text-align: left;
}
footer {
  margin-top: 40px;
  background-color: #fdeced;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-link {
  margin:20px;
  text-decoration: none;
  color:#b21f66;
  font-weight: bold;
}
.copyright {
  margin-top:30px;
  font-size:0.7em;
}
.btn {
   background: #fdeced;
   background-image: -webkit-linear-gradient(top, #fdeced, #b21f66);
   background-image: -moz-linear-gradient(top, #fdeced, #b21f66);
   background-image: -ms-linear-gradient(top, #fdeced, #b21f66);
   background-image: -o-linear-gradient(top, #fdeced, #b21f66);
   background-image: linear-gradient(to bottom, #fdeced, #b21f66);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
.btn:hover {
    background: #fdeced;
    background-image: -webkit-linear-gradient(top, #fdeced, #e9b2bc);
    background-image: -moz-linear-gradient(top, #fdeced, #e9b2bc);
    background-image: -ms-linear-gradient(top, #fdeced, #e9b2bc);
    background-image: -o-linear-gradient(top, #fdeced, #e9b2bc);
    background-image: linear-gradient(to bottom, #fdeced, #e9b2bc);
    text-decoration: none;
}
hr {
  border-style:none none dotted none;
  border-width:0.5em;
  width: 3%;
  border-color:#fdeced;
  margin-top:30px;
  margin-bottom: 30px;
}
.contact-me {
  margin: 40px auto 60px;
}
